[Unit]
Description=/home
Before=local-fs.target
After=mnt-stateful_partition-make-private.service

[Mount]
What=/mnt/stateful_partition/home
Where=/home
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
