/*
 * Copyright 2017 The Chromium OS Authors. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

&models {
	blacktip360: blacktip360 {
		powerd-prefs = "blacktip";
		test-label = "blacktip360";
		audio {
			main {
				audio-type = <&audio_type_2mic>;
				cras-config-dir = "blacktip360";
			};
		};
		thermal {
			/* Could also point to astronaut/dptf.dv */
			dptf-dv = "blacktip/dptf.dv";
		};
		whitelabels {
			// *default* LOEM
			default {
				brand-code = "TEST";
				key-id = "CORALC";
			};
			ctl {
				brand-code = "FBTP";
				key-id = "CORALF";
			};
			// TODO(sie): Replace with correct loem name
			to-be-determined-bt360-loem2 {
				brand-code = "TVRZ";
				// TODO(sie): Replace with correct mp key-id for loem
				key-id = "CORALC";
			};
		};
	};
};
