# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#

on boot
    # Adjust cpusets in container to better split work between
    # little and big cores.

    # We start with CPUs 0-3 and so we have to extend to 0-5 first
    # or write to the 'boost' cpuset will fail.
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/foreground/boost/cpus 4-5
    # Our little cores are too slow, force foreground tasks to bigs.
    write /dev/cpuset/foreground/cpus 4-5
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-3
