# Copyright 2015 The Chromium OS Authors. All rights reserved.
# Distributed under the terms of the GNU General Public License v2

SUBSYSTEM=="block", GROUP=="disk"
# Do not match on ENV{ID_FS_LABEL} because a lot more goes into deciding whether
# to create the DEVLINK or not. See 60-persistent-storage.rules
ACTION=="add|change", ENV{DEVLINKS}=="*/dev/disk/by-label/MOBBUILD_CREDS*", \
  RUN+="/sbin/initctl emit mobbuild-creds-disk-attached"
