[Unit]
Description=Mount /var/lib/google with 'exec'
DefaultDependencies=false
After=var-lib-google.mount
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/mount -o remount,exec /var/lib/google
