# Cloud-init uses /var/lib/cloud as working directory, in which at least
# two directories are required to be executable. We intend not to persist
# cloud-init data across reboots. As a result, cloud-init will fetch metadata
# and run user's configuration again after reboot. This is important as /etc/init
# in lakitu is stateless.

[Unit]
Description=/var/lib/cloud
Before=local-fs.target

[Mount]
Type=tmpfs
What=tmpfs
Where=/var/lib/cloud
Options=rw,nosuid,nodev,size=1M,mode=755

[Install]
WantedBy=local-fs.target
