# Disable power save mode for Intel HDA (workaround for http://crbug.com/775486)
ACTION=="add", SUBSYSTEM=="module", DEVPATH=="/module/snd_hda_intel", \
  RUN="/bin/sh -c '/bin/echo N > /sys/module/snd_hda_intel/parameters/power_save_controller'"
