[Unit]
Description=Mount /var/lib/docker with 'exec'
DefaultDependencies=false
Requires=bindmount@-var-lib-docker.service
After=bindmount@-var-lib-docker.service

[Service]
Type=oneshot
ExecStart=/bin/mount -o remount,exec /var/lib/docker
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
