[Unit]
Description=Bind mount /var/lib/toolbox to itself
Requires=var-lib-toolbox-remount.service
Before=local-fs.target

[Mount]
What=/var/lib/toolbox
Where=/var/lib/toolbox
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
