# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Match]
Driver=virtio_net

[Network]
DHCP=yes
IPv6AcceptRA=yes

[DHCP]
UseMTU=true
UseDomains=true
